@import 'src/style/constants';
@import 'src/style/colors';

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $pageMobileWidth;
  margin: auto;
  @media #{$desktop} {
    flex-direction: row;
    align-items: center;
    width: $pageDesktopWidth;
  }
}

.headerText {
  @include titleText;
  color: black;
}

.table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 90%;
  table-layout: fixed;
}

.table caption {
  text-transform: capitalize;
  font-family: $serifFontRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
  margin: 0.5em 0 0.75em;
  & div {
    display: flex;
    align-items: center;
    justify-content: center;
    & p {
      margin: 0 2em;
    }
  }
}

.table tr {
  background-color: var(--backgroundColor);
  padding: 0.35em;
}

.table tr td:first-child::before {
  color: var(--svart70);
  font-size: 12px;
  left: 3%;
  position: absolute;
  content: attr(data-label);
}

.table th {
  padding: 0.625em;
  font-family: $serifFontRegular;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.table td {
  padding: 0.625em;
  width: 33.33%;
  max-width: 50%;
  border: 1px solid var(--svart50);
  vertical-align: top;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.tableContent  {
  aspect-ratio: 1 / 1;
}

@media screen and (max-width: 600px) {
  .table {
    border: 0;
  }

  .table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .table tr {
    display: block;
    margin-bottom: 0.625em;
  }

  .table td {
    display: block;
    font-size: 0.8em;
    text-align: right;
    width: 100%;
  }

  .table tr::before {
    content: attr(data-label);
  }
}

.todayHighlighter {
  width: 1.5em;
  height: 1.5em;
  line-height: 1.4em;
  text-align: center;
  background-color: var(--soloppgangKontrast);
  border-radius: 25px;
  color: black !important;
  @media screen and (max-width: 600px) {
    float: right;
  }
}

.currentDate {
  color: white !important;
}

.notCurrentMonthDate {
  color: var(--svart70);
}

.notCurrentMonthDay {
  border: 1px solid var(--svart70);
}

.arrow {
  width: 1.5em;
  height: 1.5em;
}

.event {
  cursor: pointer;
  font-family: $fontRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &:hover {
    font-weight: 800;
    &::before {
      width: 4px;
    }
  }
  &::before {
    display: inline-block;
    content: '';
    width: 2px;
    height: 1em;
    margin-right: 0.5em;
    background-color: white;
    vertical-align: bottom;
  }
}

.eventOverskyetKontrast {
  &::before {
    background-color: var(--overskyetKontrast);
  }
}

.eventSolkontrast {
  &::before {
    background-color: var(--solKontrast);
  }
}

.eventHavkontrast {
  &::before {
    background-color: var(--havKontrast);
  }
}

.eventKveldkontrast {
  &::before {
    background-color: var(--kveldKontrast);
  }
}

.eventSolnedgangKontrast {
  &::before {
    background-color: var(--solnedgangKontrast);
  }
}

.eventDate {
  text-transform: capitalize;
}

.eventDescription {
  white-space: pre-line;
  overflow-x: hidden;
}

.eventLocation {
  display: flex;
  justify-content: space-between;
}

hr {
  width: 100%;
  height: 1px;
  background-color: var(--backgroundColor);
  border: none;
}

.error {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
