@import 'src/style/colors';
@import 'src/style/constants';

.header {
  position: absolute;
  width: 100%;
  padding-top: 3em;
  max-width: max-content;
  @media #{$mobile}, (max-width:$tabletMaxWidth) {
    padding-top: 1em;
  }
  z-index: 100;
}

.logo {
  width: 75px;
  margin-left: 5vw;
}

.subHeaderContainer {
  width: 100%;
}

.contentContainer {
  padding-top: 170px;
  padding-bottom: 40px;
}

.sineCurve {
  z-index: 20;
  pointer-events: none;
  overflow: hidden;
  margin-top: -10px;
}

.sineCurveContent {
  margin: 0 -2px;
  display: block;
}

.hav {
  background-color: var(--hav);
}
.kveld {
  background-color: var(--kveld);
}

.regn {
  background-color: var(--regn);
}

.skyfritt {
  background-color: var(--skyfritt);
}
.sol {
  background-color: var(--sol);
}
.solnedgang {
  background-color: var(--solnedgang);
}
.solnedgangKontrast {
  background-color: var(--solnedgangKontrast);
}

.soloppgang {
  background-color: var(--soloppgang);
}

.none {
  background-color: var(--hvit);
}

.custom {
  background-color: initial;
}
