@import 'src/style/constants';
@import 'src/style/colors';

.text {
  @include regularText;
}

.hideOnDesktop {
  @media #{$desktop} {
    display: none !important;
  }
}

.hideOnMobile {
    @media only screen and (max-width: #{$desktopMinWidth}){
        display: none !important;
    }
}

.table {
  @include regularText;
  font-size: 16px;
  width: 100%;
  border-collapse: collapse;
}

.mobileNameCell {
  @include boldText;
  font-size: 16px;
  padding: 15px 15px 15px 0;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mobileEmailCell {
  @include regularText;
  font-size: 16px;
  padding: 15px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  opacity: 0.7;
}

.mobileCommentCell {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--svart20);
  line-height: 21px;
}

.desktopCell {
  vertical-align: middle;
  padding: 15px 15px 15px 0;
  text-align: left;
  border-bottom: 1px solid var(--svart20);
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100px;
}

.desktopCommentCell {
  @extend .desktopCell;
  padding-left: 0px;
}

.desktopHeaderCell {
  padding: 15px 0;
  text-align: left;
  border-bottom: 1px solid white;
}

.subSubHeader {
  @include subSubHeaderText;
  margin-top: 50px;
  margin-bottom: 20px;
}

.question {
  font-family: $fontMedium;
}

.answer {
  font-family: $fontLight;
  margin-bottom: 10px;
}

.deleteParticipantButton {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  width: 25px;
  transform: rotateZ(45deg);
  float: right;

  &:hover {
    cursor: pointer;
  }
}

.deleteParticipantButtonMobile {
  margin-bottom: 10px;
}

.deleteParticipantModalContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.modalContent {
  margin-top: 80px;
}

.modalButton {
  width: 30%;
}
