@import 'src/style/constants';

.textAreaContainer {
  margin-bottom: 15px;
  @include regularText;
  color: black;
  outline: 0;
  resize: vertical;
  width: 100%;
}

.textArea {
    height: 350px;
    max-height: 350px;
}

.groupedButtons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 10px;

  @media #{$mobile} {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    & button {
      width: 80%;
    }
  }
}
