@import 'src/style/constants';
@import 'src/style/colors';
@import 'src/style/fonts';

.filter {
  width: 32px;
  height: 32px;
  cursor: pointer;
  &:hover {
    background-color: var(--natt);
    & circle {
      fill: var(--natt);
    }
  }
  & circle {
    fill: black;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
  }
}

.filterOpen {
  background-color: var(--natt);
  & circle {
    fill: var(--natt);
  };
  & circle:first-of-type {
    transform: translateX(7px);
  }
  & circle:last-of-type {
    transform: translateX(-7px);
  }
}

.buttonReset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background-color: transparent;
}

.filters {
  display: flex;
  color: white;
  font-family: $fontLight;
  gap: 50px;
}

.container {
  display: flex;
  flex-direction: column;
}

.typeContainer {
  display: flex;
  gap: 50px;
}
