@import '../../../style/colors';
@import '../../../style/fonts';

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  background-clip: content-box;
  width: fit-content;
  cursor: pointer;
  height: 18px;
  width: 18px;
  background-color: transparent;
  padding: 4px;
  margin-right: 10px;
  box-shadow: 0 0 0 1px var(--svart);

  &:checked {
    background-color: var(--natt);
  }
  &:focus {
    box-shadow:
      0 0 0 1px var(--svart),
      0 0 0 4px var(--natt);
  }
}

.checkBoxOnDarkBG {
  box-shadow: 0 0 0 1px var(--hvit);

  &:checked {
    background-color: var(--natt);
  }
  &:focus {
    box-shadow:
      0 0 0 1px var(--hvit),
      0 0 0 4px var(--natt);
  }
}

.checkboxLabel {
  font-family: $fontRegular;
  font-size: 16px;
  color: var(--svart);

  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkboxLabelOnDarkBG {
  color: var(--hvit);
}
